.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  color: $color-light;

  border-radius: 5px;

  font-size: inherit;

  transition: background-color 200ms ease-in-out;

  &:hover,
  &:focus {
    background-color: rgb(40, 167, 69, 0.9);
  }
}

.button__icon {
  margin-right: 8px;
  width: 9px;
  height: 18px;

  fill: $color-light;
}

.button--filled {
  border: none;
  background-color: $color-accent;
}

@mixin section-button($section-bg-color) {
  border-style: solid;
  border-color: $color-light;

  &:hover,
  &:focus {
    background-color: rgba(244, 244, 244, 1);
    border-color: $section-bg-color;
    color: $section-bg-color;
  }
}
