.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  padding: 20px;
  max-width: 400px;
  width: 100%;

  border-radius: 5px;
  color: $color-dark;
  background-color: $color-paper;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-close-button {
  margin-left: auto;
  margin-right: auto;
}
