$color-light: #ffffff;
$color-dark: #333333;
$color-paper: #f4f4f4;
$color-accent: #28a745;
$color-additional: #0284d0;

$font-family: 'Open Sans', sans-serif;
$font-size-title: 40px;
$font-size-title-mobile: 32px;
$font-size-subtitle: 32px;
$font-size-subtitle-mobile: 20px;
$font-size-main: 18px;
$font-size-main-mobile: 16px;

$padding-side-mobile: 20px;
$padding-side-tablet: 32px;
$padding-side-desktop: 28px;

$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;
