<section id="blog" class="blog">
  <h2 class="visually-hidden">Blog</h2>
  <picture class="blog__picture">
    <source
      srcset="images/home/blog.webp 1x, images/home/blog@2x.webp 2x"
      type="image/webp"
    />
    <source
      srcset="images/home/blog.jpg 1x, images/home/blog@2x.jpg 2x"
      type="image/jpeg"
    />
    <img
      src="images/home/blog.jpg"
      alt="i like the smell of coffee in the morning"
    />
  </picture>
  <article class="blog__article">
    <p class="blog__subtitle">April 16 2020</p>
    <h2 class="blog__title">Blog Post One</h2>
    <p class="blog__content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button" class="button" aria-label="open blog">
      Read Our Blog
    </button>
  </article>
</section>
