<section id="contact" class="contact">
  <h2 class="visually-hidden">Contact</h2>
  <picture class="contact__picture">
    <source
      srcset="images/home/contact.webp 1x, images/home/contact@2x.webp 2x"
      type="image/webp"
    />
    <source
      srcset="images/home/contact.jpg 1x, images/home/contact@2x.jpg 2x"
      type="image/jpeg"
    />
    <img src="images/home/contact.jpg" alt="a man is playing kahoot" />
  </picture>
  <form
    data-form
    class="contact__form"
    name="contact"
    method="POST"
    data-netlify="true"
  >
    <h2 class="contact__title">Request Callback</h2>
    <div class="form__input-box">
      <input
        data-input="name"
        class="form__text-input"
        type="text"
        name="name"
        id="name"
        placeholder="name"
      />
      <label for="name" class="form__label">Enter your name</label>
    </div>
    <div class="form__input-box form__input-box--email">
      <input
        data-input="email"
        class="form__text-input"
        type="email"
        name="email"
        id="email"
        placeholder="email"
      />
      <label for="email" class="form__label">Enter email*</label>
      <div data-error class="error-message">
        <svg width="16" height="15">
          <use href="images/sprite.svg#warning"></use>
        </svg>
        <span>This is a required field</span>
      </div>
    </div>
    <button
      class="button button--filled"
      type="submit"
      aria-label="send request"
    >
      Send
    </button>
  </form>
</section>
