<footer class="footer">
  <ul class="socials-links--footer">
    <li>
      <a
        class="socials-links__link--footer"
        title="facebook"
        href="https://facebook.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in Facebook"
      >
        <svg width="35" height="35">
          <use href="images/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="socials-links__link--footer"
        title="twitter"
        href="https://twitter.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in twitter"
      >
        <svg width="35" height="35">
          <use href="images/sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="socials-links__link--footer"
        title="youtube"
        href="https://youtube.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in Youtube"
      >
        <svg width="40" height="35">
          <use href="images/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="socials-links__link--footer"
        title="linkedin"
        href="https://linkedin.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in Linkedin"
      >
        <svg width="31" height="35">
          <use href="images/sprite.svg#linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p>Copyright &copy; 2021 - FinanceLedger</p>
</footer>
