<header class="header">
  <a class="logo" href="/">
    <svg width="40" height="35">
      <use href="images/sprite.svg#logo"></use>
    </svg>
    <span class="finance">Finance</span>
    Ledger
  </a>
  <nav>
    <ul class="navigation__list">
      <li class="navigation__list-item">
        <a
          class="navigation__link"
          href="#home"
          aria-label="go to the top of the page"
          >Home</a
        >
      </li>
      <li class="navigation__list-item">
        <a
          class="navigation__link"
          href="#about"
          aria-label="go to section About"
          >About</a
        >
      </li>
      <li class="navigation__list-item">
        <a
          class="navigation__link"
          href="#cases"
          aria-label="go to section Cases"
          >Cases</a
        >
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link" href="#blog" aria-label="go to section Blog"
          >Blog</a
        >
      </li>
      <li class="navigation__list-item">
        <a
          class="navigation__link"
          href="#contact"
          aria-label="go to section Contact"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
