<header class="header">
  <a class="logo" href="/">
    <svg width="40" height="35">
      <use href="images/sprite.svg#logo"></use>
    </svg>
    <span class="finance">Finance</span>
    Ledger
  </a>
  <nav>
    <ul class="navigation__list">
      <li class="navigation__list-item">
        <a class="navigation__link" href="#home">Home</a>
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link" href="#about">About</a>
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link" href="#cases">Cases</a>
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link" href="#blog">Blog</a>
      </li>
      <li class="navigation__list-item">
        <a class="navigation__link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
