<section class="team">
  <p class="team__subtitle">Who we are</p>
  <h2 class="team__title">Our Professional Team</h2>
  <p class="team__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="team-list">
    <li class="team-list__item">
      <div class="img-wrapper">
        <picture>
          <source
            srcset="
              images/team/john-doe.webp    1x,
              images/team/john-doe@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="images/team/john-doe.jpg 1x, images/team/john-doe@2x.jpg 2x"
            type="image/jpeg"
          />
          <img
            src="images/team/john-doe.jpg"
            alt="John Doe - president of company"
          />
        </picture>
        <ul class="socials-links">
          <li>
            <a
              class="socials-links__link"
              title="facebook"
              aria-label="press to go on Facebook profile"
              href="https://facebook.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="35" height="35">
                <use href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="twitter"
              aria-label="press to go on Twitter profile"
              href="https://twitter.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="35" height="35">
                <use href="images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="youtube"
              aria-label="press to go on YouTube channel"
              href="https://youtube.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40" height="35">
                <use href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="linkedin"
              aria-label="press to go on Linkedin profile"
              href="https://linkedin.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="31" height="35">
                <use href="images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="teammate__name">John Doe</p>
      <p class="teammate__position">President</p>
    </li>
    <li class="team-list__item">
      <div class="img-wrapper">
        <picture>
          <source
            srcset="
              images/team/jane-doe.webp    1x,
              images/team/jane-doe@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="images/team/jane-doe.jpg 1x, images/team/jane-doe@2x.jpg 2x"
            type="image/jpeg"
          />
          <img
            src="images/team/jane-doe.jpg"
            alt="Jane Doe - vice-president of company"
          />
        </picture>
        <ul class="socials-links">
          <li>
            <a
              class="socials-links__link"
              title="facebook"
              aria-label="press to go on Facebook profile"
              href="https://facebook.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="35" height="35">
                <use href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="twitter"
              aria-label="press to go on Twitter profile"
              href="https://twitter.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="35" height="35">
                <use href="images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="youtube"
              aria-label="press to go on YouTube channel"
              href="https://youtube.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40" height="35">
                <use href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="linkedin"
              aria-label="press to go on Linkedin profile"
              href="https://linkedin.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="31" height="35">
                <use href="images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="teammate__name">Jane Doe</p>
      <p class="teammate__position">Vice President</p>
    </li>
    <li class="team-list__item">
      <div class="img-wrapper">
        <picture>
          <source
            srcset="
              images/team/steve-smith.webp    1x,
              images/team/steve-smith@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/team/steve-smith.jpg    1x,
              images/team/steve-smith@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="images/team/steve-smith.jpg"
            alt="Steve Smith - marketing head"
          />
        </picture>
        <ul class="socials-links">
          <li>
            <a
              class="socials-links__link"
              title="facebook"
              aria-label="press to go on Facebook profile"
              href="https://facebook.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="35" height="35">
                <use href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="twitter"
              aria-label="press to go on Twitter profile"
              href="https://twitter.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="35" height="35">
                <use href="images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="youtube"
              aria-label="press to go on YouTube channel"
              href="https://youtube.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40" height="35">
                <use href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-links__link"
              title="linkedin"
              aria-label="press to go on Linkedin profile"
              href="https://linkedin.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="31" height="35">
                <use href="images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="teammate__name">Steve Smith</p>
      <p class="teammate__position">Marketing Head</p>
    </li>
  </ul>
</section>
